{% extends "layout.html" %}

{% block body %}
<h2>Location Information</h2>
<p>{{location_info.zipcode}}</p>
<p>{{location_info.city}}, {{location_info.state}}</p>
<p>{{location_info.latitude}}</p>
<p>{{location_info.longitude}}</p>
<p>{{location_info.population}}</p>
<p>{{location_info.check_in}}</p>
<h2>Current Weather</h2>
<p>{{weather_json.currently.time}}</p>
<p>{{weather_json.currently.summary}}</p>
<p>{{weather_json.currently.temperature}}</p>
<p>{{weather_json.currently.dewpoint}}</p>
<p>{{weather_json.currently.humidity}}</p>

{% for comment in comments %}
<li>{{ comment.comment }}</li>
{% endfor %}


<p>Write a comment and check-in!:</p>

<form action="{{ url_for('check_in') }}" method="post">
  My thoughts on {{location_info.city}}<br>
  <input type="text" name="comment"><br>
  <div style="display:none"><input type="none" name="location_id" value="{{location_info.id}}"></div>
  <input type="submit" name="check in" value="Check In!">
</form>

{% endblock %}
