{% extends "layout.html" %}

{% block body %}
<h2>Location Information</h2>
<ul>
<li>Zip code: {{location_info.zipcode}}</li>
<li>City: {{location_info.city}}, {{location_info.state}}</li>
<li>Latitude: {{location_info.latitude}}</li>
<li>Longitude: {{location_info.longitude}}</li>
<li>Population: {{location_info.population}}</li>
<li>Number of people who have checked in: {{location_info.check_in}}</li>
</ul>
<br>

<h2>Current Weather</h2>
<ul>
<li>Time: {{weather_json.currently.time}}</li>
<li>Weather summary: {{weather_json.currently.summary}}</li>
<li>Temperature: {{weather_json.currently.temperature}}</li>
<li>Dew point: {{weather_json.currently.dewPoint}}</li>
<li>Humidity: {{weather_json.currently.humidity}}</li>
</ul>
<br>

<h2>Comments</h2>
{% for comment in comments %}
<li>{{ comment.comment }}</li>
{% endfor %}
<br>

<br>
<p>You've already checked in here! Search for <a href={{ url_for('main_return') }}>another location?</a></p>
{% endblock %}